<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 20px;
            background: linear-gradient(to right, #00b4db, #0083b0);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        ul li {
            margin: 0 10px;
        }

        ul li a {
            color: black;
            text-decoration: none;
            font-weight: 500;
        }

        ul li b {
            color: darkblue;
            background-color: white;
            padding: 5px 10px;
            border-radius: 5px;
        }

        
    </style>
</head>
<body>

    <ul>
        <li><b>Movie Recommendation System</b></li>
        <li><a href="/dashboard">View All Movies</a></li>
        <li><a href="#">Search</a></li>
    </ul>

</body>
</html>
